---
---

@import "{{ site.theme }}";

header {
  background: #fd542d;
}

#banner {
  background: #000000;
  margin-right:0px;
  border: 0px;
  right:0;
  
  .button {
    border: 0px;
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    color:#000000;

    &:hover {
      background: #e0e0e0;
      background-color: #e0e0e0;
    }
  }
}

body {
  background: #ffffff;
}



