---
---

@import "{{ site.theme }}";

header {
  background: #fd542d;
  
  h1 {
    font: 40px/48px 'Trebuchet MS', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 0px;
  }
}

#banner {
  background: #000000;
  margin-right:0px;
  border: 0px;
  right:0;
  
  .button {
    border: 0px;
    background: #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    color:#000000;

    &:hover {
      background: #e0e0e0;
      background-color: #e0e0e0;
    }
  }
  
  #logo {
    background: url(../../small_logo.png);
    background-size: 100% 100%;
  }
}

body {
  background: #ffffff;
}



